@font-face {
    font-family: Avenir; 
    src: url(../Avenir\ Next.ttc); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir;
}

body {
    background-image: linear-gradient(to right, #e72e29, #de2c2a, #d52a2c, #cb282c, #c2272d);
    background-size: 100%;
    overflow-x: hidden;
}

header {
    padding: 15px 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

header .img {
    width: 50px;
    position: absolute;
    top: 5px;
}

header .img img {
    width: 100%;
}

header p {
    color: white;
    line-height: 30px;
    position: relative;
    left: 60px;
}

section.moto {
    width: 100%;
    padding: 10%;
}


section.info .img, 
section.moto .img {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

section.info .img img,
section.moto .img img {
    width: 100%;
}


.moto .img {
    margin: auto;
}

section .info {
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
}

section .info p {
    font-family: 'Open Sans';
}

section.info, section.puntos {
    width: 100%;
    background: #F5F5F5;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

section.info .contenedor {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #4D4D4D;
    text-align: center;
    height: 200px;
}

section.puntos .contenedor {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #4D4D4D;
    text-align: center;
    height: 200px;
}

/*AGENDAR CITA*/

header.agendar p {
    left: 0;
}

.agendarTexto {
    position: relative;
    float: right;
    top: 40px;
}

header.agendar i {
    padding-right: 20px;
    color: white;
}

section.agendar {
    width: 100%;
    padding: 5%;
    background: white;
}

section.agendar .contenedor {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 10px;
    color: #4D4D4D;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-bottom:65px;
}


section.agendar .contenedor .opcion {
    width: 40%;
}

section.agendar .contenedor .opcion p {
    text-align: left;
    width: 150px;
    left: 0;
}

section.agendar .contenedor .opcion input {
    width: 100%;
    border-radius: 20px;
    background: rgb(231, 230, 230);
    border: none;
    padding: 7px;
}

section.agendar .contenedor .opcion input:focus {
    outline: none;
}

section.check {
    display: block;
}


/*----*/

/*Checkbox*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
      border-radius: 20px;
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(221, 219, 219);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid rgb(2, 153, 2);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

label.container {
    color: rgb(82, 82, 82);
    font-weight: 900;
    font-family: 'Open Sans';
}

/*Detalle del servicio*/


.detalles {
    width: 100%;
    text-align: initial;
    margin-bottom: 100px;
    position: relative;
}

.detalles form a {
    position: absolute;
    bottom: -70px;
    top: 420px;
    width: 150px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.detalles h3 {
    color: rgb(44, 44, 44);
}


.contenedor p {
    font-family: 'Open Sans';
    margin-bottom: 20px;
}

.contenedor h1 {
    font-size: 30px;
}

.contenedor h6 {
    font-family: 'Open Sans';
    font-size: 15px;
}

.contenedor a {
    width: 50%;
    font-family: 'Open Sans';
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #e72e29, #de2c2a, #d52a2c, #cb282c, #c2272d);
    padding: 5%;
    border-radius: 20px;
    font-size: 14px;
    position: relative;
    top: 15px;
}

.contenedor .img {
    width: 50%;
    height: 20px;
}

.contenedor .img img {
    width: 100%;
}

section.puntos .contenedor .img {
    width: 15%;
    margin: auto;
    margin-bottom: 50px;
}
section.puntos .contenedor .img img{
    width: 100%;
}

/*MTTOS*/

.link {
    text-decoration: none;
}

.mttos h3 {
    color: #000;
}

.mttos {
    padding: 5%;
}

.mttos p {
    color: rgb(59, 59, 59);
    font-family: 'Open sans';
}

.mttosinfo {
    background: rgb(212, 212, 212);
}

footer {
    background: #CCCCCC;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .boton {
    width: 40px;
}

footer img {
    width: 100%;
    margin: auto;
}

table {
    width: 80%;
    padding: 5%;
}

table tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

table tr th {
    text-align: left;
}


/* Catalogo */

section.catalogo {
    background: #F5F5F5;
    padding: 4%;
}

.header-catalogo {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-catalogo p.filtrar {
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-family: 'Open sans';
    font-weight: 100;
    margin-top: 10px;
    line-height: 27px;
}
 
.header-catalogo select {
    font-size: 18px;
    font-family: 'Open sans';
    background: rgb(233, 233, 233);
    color: rgb(102, 102, 102);
    border: none;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}

.header-catalogo select option {
    text-align: center;
}

.header-catalogo select option i{
    display: none;
}

.body-catalogo {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 70px;
}

.body-catalogo .tarjeta-catalogo {
    margin-top: 10px;
    width: 47%;
    background: white;
    padding: 2%;
}

.body-catalogo .tarjeta-catalogo .img-moto {
    width: 100%;
    margin: auto;
}

.body-catalogo .tarjeta-catalogo .img-moto img {
    width: 100%;
}

.body-catalogo .tarjeta-catalogo .textos {
    text-align: center;
}

.body-catalogo .tarjeta-catalogo .textos h1 {
    font-size: 18px;
}

.body-catalogo .tarjeta-catalogo .textos p {
    font-size: 14px;
    color: rgb(85, 85, 85);
    font-weight: 100;
    font-family: 'Open sans';
}

/*SELECT*/

.select-box {
    position: relative;
    display: block;
    width: 65%;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #60666d;
    font-weight: 100;
}

@media (min-width: 768px) {
    .select-box {
        width: 70%;
   }
}

@media (min-width: 992px) {
    .select-box {
        width: 50%;
   }
}

@media (min-width: 1200px) {
    .select-box {
        width: 30%;
   }
}
.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .fa-chevron-down {
    transform: translateY(-50%) rotate(180deg);
}
.fa-chevron-down {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}