@font-face {
    font-family: Avenir; 
    src: url(../Avenir\ Next.ttc); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right, #e72e29, #de2c2a, #d52a2c, #cb282c, #c2272d);
    background-size: 100%;
    overflow: hidden;
}

.header p{ 
    transition: 1s;
}

#ventanaRegistro, #ventanaSesion {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 1000px;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 85vh;
    border-radius: 30px 30px 0 0;
    transition: 1s;
}

.animation-modal {
    background: rgb(110, 15, 15);
    transform: translateY(-900px);
}

.animation-letter {
    transform: translateY(-150px);
}

#ventanaRegistro i, #ventanaSesion i {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 30px;
    left: 30px;
}

form {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 150px;
}

.form-input {
    text-align: center;
    display: block;
    height: 70px;
    position: relative;
}

.form-input label {
    text-align: center;
    color: white;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
}

.form-input input[type=email], input[type=password] {
     border: none;
     background: #a82525c9;
     border-radius: 10px;
     color: white;
     font-size: 14px;
     padding: 5px 10px;
     width: 80%;
     font-family: 'Open sans';
}

.form-input input:focus {
    outline: none;
}

.boton {
    background: white;
    color: red;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.ghost {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.boton:hover {
    outline: none;
    background: red;
    color: white;
    border: 1px solid;
}

.header {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    color: white;
}

.header img {
    width: 100px;
}

.form-input p {
    color: white;
    position: relative;
    top: -10px;
}

.add {
    position: relative;
    margin: auto;
    top: 300px;
}

section {
    width: 100%;
    color: white;
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    top: 150px;
}

section img {
    width: 100px;
}

section p {
text-align: center;
}



